streamlit
langchain==1.0.3
langchain-core==1.0.2
langchain-community==0.4.1
langchain-openai==1.0.1
langchain-text-splitters==0.2.0
openai
faiss-cpu
PyPDF2
pdfplumber
tiktoken
requests
beautifulsoup4
python-multipart
